$color-1: #211951;
$color-2: #836FFF;
$color-3: #15F5BA;
$color-4: #F0F3FF;

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@keyframes pFromLeft{
    from{
        opacity: 0;
        transform: translate(-5rem, -0.25rem);
    }
    to{
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes pFromLeftMoney{
    from{
        opacity: 0;
        transform: translate(-5rem, -0.25rem);
    }
    to{
        opacity: 1;
        transform: translate(0, -0.25rem) rotate(5deg);
    }
}

@keyframes pFromRight{
    from{
        opacity: 0;
        transform: translate(5rem, 0);
    }
    to{
        opacity: 1;
        transform: translate(0.75rem, -0.25rem);
    }
}

@keyframes spanFromTop{
    from{
        opacity: 0;
        transform: translateY(-5rem);
    }
    to{
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes spanFromBottom{
    from{
        opacity: 0;
        transform: translateY(5rem);
    }
    to{
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes rotatingMoney{
    from{
        transform: scale(0.001) rotate(2400deg);
    }
    to{
        transform: scale(1) rotate(0);
    }
}

*{
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 960px;
    height: 540px;
    border: solid 1px $color-2;
    overflow: hidden;

    img{
        width: 16rem;
        margin-bottom: -2.4rem;
        z-index: 4;
        animation: rotatingMoney 2.75s ease-out forwards;
    }
    
    p{
        width: fit-content;
        padding: 0.50rem 2rem;
        overflow: hidden;
    
        .color3{
            color: $color-3;
        }
    
        .color4{
            color: $color-4;
        }

        span{
            display: inline-block;
        }

        #span-1{
            animation: spanFromTop 0.125s ease-in 0s forwards;
            transform: translateY(-10rem);
        }

        #span-2{
            animation: spanFromBottom 0.125s ease-in 0.75s forwards;
            transform: translateY(-10rem);
        }

        #span-3{
            animation: spanFromTop 0.125s ease-in 1.125s forwards;
            transform: translateY(-10rem);
        }

        #span-4{
            animation: spanFromBottom 0.125s ease-in 1.5s forwards;
            transform: translateY(-10rem);
        }

        #span-5{
            animation: spanFromTop 0.125s ease-in 1.875s forwards;
            transform: translateY(-10rem);
        }

        #span-6{
            animation: spanFromBottom 0.125s ease-in 2.25s forwards;
            transform: translateY(-10rem);
        }

        #span-7{
            animation: spanFromTop 0.125s ease-in 2.625s forwards;
            transform: translateY(-10rem);
        }
    }
    
    #obrigado{
        background-color: $color-1;
        font-size: 5rem;
        animation: pFromLeft ease-in 0.125s forwards;
    }
    
    #pelo_dinheirinho{
        background-color: $color-2;
        color: $color-4;
        font-size: 2.5rem;
        animation: pFromRight ease-in 0.125s forwards;
    }

    #valor{
        background-color: $color-1;
        color: #fff;
        font-size: 5rem;
        text-align: end;
        opacity: 0;
        transform: rotate(-5deg) translate(-40rem, -0.5rem);
        animation: pFromLeftMoney 0.125s ease-in 3.240s forwards;
        border: solid $color-2 3px;
    }
}